In [1]:
grupo = {'palmeiras':4, 'santos': 5.4, 'corinthians': 'oi'}

In [2]:
grupo

{'palmeiras': 4, 'santos': 5.4, 'corinthians': 'oi'}

In [4]:
grupo['santos']

5.4

In [17]:
'bragantino' in grupo

False

In [21]:
if 'avaí' not in grupo:
    grupo['avaí'] = 3

grupo

{'palmeiras': 4, 'santos': 5.4, 'corinthians': 'oi', 'avaí': 3}

In [27]:
grupo.get('santos') # o mesmo que "grupo['santos']" porém posso retornar uma frase como vemos abaixo:

5.4

In [22]:
print(grupo.get('santos', 'Time não encontrado.'))

5.4

In [28]:
print(grupo.get('flamengo', 'Time não encontrado.'))

Time não encontrado.

In [29]:
del grupo['santos']

In [30]:
grupo

{'palmeiras': 4, 'corinthians': 'oi', 'avaí': 3}

In [32]:
# del grupo['csa'] => dá erro pq não temos csa no grupo. Usando o pop podemos retornar uma mensagem de erro 
# como visto abaixo

In [35]:
grupo.pop('csa', 'Time não encontrado na base de dados')

'Time não encontrado na base de dados'

In [36]:
grupo.pop('corinthians', 'Time não encontrado na base de dados')

'oi'

In [37]:
grupo

{'palmeiras': 4, 'avaí': 3}

In [38]:
grupo.popitem() # aqui é mostrada a chave e o valor ao se deleter usando o popitem

('avaí', 3)

In [39]:
grupo

{'palmeiras': 4}

In [40]:
grupo.popitem()

('palmeiras', 4)

In [41]:
grupo

{}

In [42]:
grupo = {'fla':3, 'coxa': 4, 'atletico': 2.5, 'uniao':9.3}

In [43]:
grupo

{'fla': 3, 'coxa': 4, 'atletico': 2.5, 'uniao': 9.3}

In [44]:
grupo2 = {'vasco': 5}

In [48]:
grupo.update(grupo2) # ta atualizando o grupo acrescentando tbm os valores de grupo2

In [46]:
grupo2

{'vasco': 5}

In [47]:
grupo

{'fla': 3, 'coxa': 4, 'atletico': 2.5, 'uniao': 9.3, 'vasco': 5}

In [49]:
grupo.keys()

dict_keys(['fla', 'coxa', 'atletico', 'uniao', 'vasco'])

In [51]:
grupo.values()

dict_values([3, 4, 2.5, 9.3, 5])

In [53]:
grupo.items()

dict_items([('fla', 3), ('coxa', 4), ('atletico', 2.5), ('uniao', 9.3), ('vasco', 5)])

In [82]:
a = {'c1':1, 'c2':2}
b = a.copy() # se eu colocasse b = a, então qnd adicionasse elemento em "a" adicionaria em "b" e vice-versa

In [83]:
print(a)
print(b)

{'c1': 1, 'c2': 2}
{'c1': 1, 'c2': 2}

In [84]:
a['c3'] = 3
print(a)
print(b)

{'c1': 1, 'c2': 2, 'c3': 3}
{'c1': 1, 'c2': 2}

In [85]:
b['c4'] = 4
print(a)
print(b)

{'c1': 1, 'c2': 2, 'c3': 3}
{'c1': 1, 'c2': 2, 'c4': 4}

In [86]:
grupo

{'fla': 3, 'coxa': 4, 'atletico': 2.5, 'uniao': 9.3, 'vasco': 5}

In [87]:
for key in grupo:
    print(key)

fla
coxa
atletico
uniao
vasco

In [88]:
for key in grupo:
    print(key, grupo[key])

fla 3
coxa 4
atletico 2.5
uniao 9.3
vasco 5

In [93]:
grupo2 = {key:value for (key,value) in grupo.items() if value < 9}
grupo2

{'fla': 3, 'coxa': 4, 'atletico': 2.5, 'vasco': 5}