In [2]:
print('This is a string INSERTED')

This is a string INSERTED

In [3]:
print('This is {}'.format('inserted'))

This is inserted

In [6]:
print('This is {} {} {}'.format('fox', 'lion', 'cat'))

This is fox lion cat

In [10]:
print('This is {2} {2} {0}'.format('fox', 'lion', 'cat'))

This is cat cat fox

In [11]:
print('This is {l} {f} {c}'.format(f='fox', l='lion', c='cat'))

This is lion fox cat

In [12]:
print('This is {l} {l} {l}'.format(f='fox', l='lion', c='cat'))

This is lion lion lion

In [35]:
flutuante = 13.394532

In [36]:
flutuante

13.394532

In [37]:
print('aqui temos um valor de {}'.format(flutuante))

aqui temos um valor de 13.394532

In [39]:
print('aqui temos um valor de {f:1.1f}'.format(f=flutuante))

aqui temos um valor de 13.4

In [41]:
print('aqui temos um valor de {f:1.4f}'.format(f=flutuante))

aqui temos um valor de 13.3945

In [1]:
nome = "andre"

In [7]:
print('meu nome é {}'.format(nome)) # caso 1

meu nome é andre

In [8]:
print('meu nome é {nome}') # caso 2

meu nome é {nome}

In [10]:
print(f'meu nome é {nome}') # igual ao caso 1

meu nome é andre

In [11]:
idade = 31
nome2 = 'idade'

In [13]:
print(f'meu nome é {nome}, eu tenho {idade} anos de {nome2}')

meu nome é andre, eu tenho 31 anos de idade

In [36]:
flutuante = 2.300
print(f'aqui temos um valor de {flutuante:.4f}') # escolhe quantas casas quer na saída. Mesmo se for zero

aqui temos um valor de 2.3000