In [5]:
lista = [1,2,3]

for num in lista:
    print(num)

1
2
3

In [1]:
#lista = [1,2,3]

for num in range(10): # varia de 0-9
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
lista = [1,2,3] # ainda q descomente essa linha so executará de 0-9 pq no for tem um range e não a lista

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [9]:
for num in range(0,10,2): # esse ultimo argumento indica que o passo é 2. De 2 em 2 mas não inclui o 10
    print(num)

0
2
4
6
8

In [10]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [11]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [12]:
for num in range(3,10,3):
    print(num)

3
6
9

In [13]:
range(0,11,2)

range(0, 11, 2)

In [17]:
# fazendo cast de range para lista

list(range(0,11,2)) # isso é uma maneira mais eficiente de gerar números conforme nós veremos mais detalhes mais adiante

[0, 2, 4, 6, 8, 10]

In [19]:
lista = list(range(0,21,1))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
indice = 0

for letra in 'abcde':
    print('No índice {} a letra é {}'.format(indice,letra))
    indice += 1

No índice 0 a letra é a
No índice 1 a letra é b
No índice 2 a letra é c
No índice 3 a letra é d
No índice 4 a letra é e

In [34]:
# código equivalente ao de cima mudando um pouco a sintaxe de formatação

indice = 0

for letra in 'abcde':
    print(f'No índice {indice} a letra é {letra}')
    indice += 1

No índice 0 a letra é a
No índice 1 a letra é b
No índice 2 a letra é c
No índice 3 a letra é d
No índice 4 a letra é e

In [39]:
indice = 0
let = 'abcde'
for letra in let:
    print(letra)

a
b
c
d
e

In [47]:
indice = 0
let = 'abcde'

for letra in let:
    print(let[indice])
    indice += 1 # equivalente ao código acima

a
b
c
d
e

In [44]:
a = 'andre'
a[0] # só para lembrar...

'a'

In [45]:
a[3] # só para lembrar...

'r'

In [48]:
indice = 0
let = 'abcde'

for letra in enumerate(let):
    print(letra)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [49]:
indice = 0
let = 'abcde'

for indice,letra in enumerate(let):
    print(indice)
    print(letra)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [53]:
lista1 = [1,2,3]
lista2 = ['a','b','c']

for item in zip(lista1,lista2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [55]:
zip(lista1,lista2) # aqui é o endereço em que o zip está

In [57]:
lista1 = [1,2,3] # colocarmos mais itens em uma das listas, o excesso será ignorado. Tudo tem q estar associado
lista2 = ['a','b','c']
lista3 = [100,200,300]

for item in zip(lista1,lista2,lista3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [63]:
# podemos fazer cast de zip para lista tbm

a = list(zip(lista1,lista2,lista3))
a

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [67]:
a[2] # podemos imprimir só informações em uma determinada posição de uma lista

(3, 'c', 300)

In [71]:
lista1 = [1,2,3] 
lista2 = ['a','b','c']
lista3 = [100,200,300]

for l1,l2,l3 in zip(lista1,lista2,lista3):
    print(l2)

a
b
c

In [75]:
'a' in [1,2,3]

False

In [79]:
'a' in lista1 # equivale à linha acima já que lista1 = [1,2,3]

False

In [80]:
'a' in lista2

True

In [85]:
'c1' in {'c1':3}

True

In [86]:
d = {'c2': 4,'c3':5}

In [91]:
'c2' in d

True

In [96]:
d['c2']

4

In [102]:
4 in d.values()

True

In [104]:
'c3' in d.keys()

True

In [105]:
lista = [10, 20, 100, 80, 3, 14]

In [106]:
min(lista)

3

In [107]:
max(lista)

100

In [109]:
lista.sort()

In [110]:
lista

[3, 10, 14, 20, 80, 100]

In [111]:
lista.reverse()

In [112]:
lista

[100, 80, 20, 14, 10, 3]

In [113]:
aordem = lista

In [114]:
aordem

[100, 80, 20, 14, 10, 3]

In [116]:
aordem.sort()

In [117]:
lista

[3, 10, 14, 20, 80, 100]

In [118]:
aordem

[3, 10, 14, 20, 80, 100]

In [119]:
aordem.reverse()

In [120]:
aordem

[100, 80, 20, 14, 10, 3]

In [121]:
lista

[100, 80, 20, 14, 10, 3]

In [122]:
a = aordem

In [123]:
a

[100, 80, 20, 14, 10, 3]

In [124]:
a.sort()

In [125]:
a

[3, 10, 14, 20, 80, 100]

In [126]:
lista

[3, 10, 14, 20, 80, 100]

In [127]:
aordem

[3, 10, 14, 20, 80, 100]

In [134]:
a = None

In [136]:
from random import shuffle

In [137]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [167]:
shuffle(lista) # não posso atribuir isso a nada pois shuffle não retorna nada

In [166]:
lista

[2, 9, 3, 8, 10, 6, 5, 4, 7, 1]

In [152]:
from random import randint

In [160]:
randint(0,100)

8

In [172]:
num = randint(0,100) # aqui pode haver atribuição já que randint tem retorno

In [173]:
num

81

In [174]:
input('qual o seu nome?')

qual o seu nome?andre

'andre'

In [1]:
resultado = input('qual o seu nome?')

qual o seu nome?andre

In [2]:
resultado

'andre'

In [3]:
resultado = input('qual o seu nome? ')

qual o seu nome? andre

In [4]:
resultado

'andre'

In [6]:
resultado = input('informe um número: ')

informe um número: 31

In [7]:
resultado

'31'

In [8]:
type(resultado)

str

In [9]:
int(resultado)

31

In [10]:
float(resultado)

31.0

In [11]:
resultado

'31'

In [12]:
type(resultado)

str

In [13]:
inteiro = int(resultado)

In [14]:
inteiro

31

In [15]:
type(inteiro)

int

In [22]:
# esse mesmo cast aqui: "inteiro = int(resultado)" pode ser feito logo no input como a seguir:

resultado = int(input('informe um número: '))

informe um número: 22

In [23]:
resultado

22

In [24]:
type(resultado)

int