In [49]:
def let(string):
    palavra = string.split()
    if palavra[0][0].lower() == palavra[1][0].lower():
        return True
    else:
        return False

In [50]:
let('Levelheaded Llama')

True

In [51]:
let('Crazy Kangoroo')

False

In [52]:
let('levelheaded Llama')

True

In [69]:
# o lower() também poderia ser feito assim:

def let2(string):
    palavra = string.lower().split() # podemos invocar dois métodos na mesma linha
    if palavra[0][0] == palavra[1][0]:
        return True
    else:
        return False

In [73]:
let2('levelheaded Llama')

True

In [80]:
let2('Crazy Kangoroo')

False

In [83]:
# O execício acima também poderia ser feito assim, pois o retorno é um valor booleano

def let3(string):
    palavra = string.lower().split() # podemos invocar dois métodos na mesma linha
    return (palavra[0][0] == palavra[1][0])

In [84]:
let3('levelheaded Llama')

True

In [85]:
let3('Crazy Kangoroo')

False

In [86]:
# observação para quando o retorno é boolean

def teste(n1,n2):
    return (n1+n2 == 20 or n1 == 20 or n2 == 20) # isso já retorna verdadeiro em casa de uma dessas condições serem 
                                                 # aceitas e falso caso contrário. Não precisamos de ficar
                                                 # declarando muitos if's nesse caso

In [87]:
teste(10,10)

True

In [88]:
teste(10,20)

True

In [89]:
teste(11,10)

False

In [100]:
# capitalize deixa a primeira letra de uma palavra em maiúsculo

string = 'macdonald'
string.capitalize()

'Macdonald'

In [104]:
string1 = string[:3]
string2 = string[3:]
string1.capitalize() + string2.capitalize()

'MacDonald'

In [138]:
a = [1,2,3]
list(reversed(a)) # só lembrando, reversed() tem que ser usada com o "list"

[3, 2, 1]

In [238]:
# método join()

string = 'ano novo vida nova'
string1 = string.split()
string1

['ano', 'novo', 'vida', 'nova']

In [244]:
'--'.join(string1) # junta a string "--" com a lista "string1" e o resultado é retornado em forma de string

'ano--novo--vida--nova'

In [245]:
string3 = ';'
string3.join(string1)

'ano;novo;vida;nova'

In [246]:
# replace

string.replace('ano', 'oi')

'oi novo vida nova'

In [247]:
string

'ano novo vida nova'

In [248]:
string4 = 'deixa ser1, deixa ser2, deixa ser3, deixa ser4, deixa ser5'

In [249]:
string4.replace('deixa', 'quero')

'quero ser1, quero ser2, quero ser3, quero ser4, quero ser5'

In [250]:
string4

'deixa ser1, deixa ser2, deixa ser3, deixa ser4, deixa ser5'

In [251]:
string4.replace('deixa', 'quero', 3) # aqui substitui apenas as 3 primeiras ocorrências como especificado.

'quero ser1, quero ser2, quero ser3, deixa ser4, deixa ser5'

In [252]:
string4 # não altera a string de fato, apenas mostra alterada. Mas o retorno pode ser atribuído a uma variável

'deixa ser1, deixa ser2, deixa ser3, deixa ser4, deixa ser5'

In [253]:
string

'ano novo vida nova'

In [254]:
string.replace(' ', ';')

'ano;novo;vida;nova'

In [258]:
# lembrando

nome = 'andre'
print(nome[0]*3 + nome) # triplicou a ocorrência da primeira letra e concatenou na string

aaaandre